/*main and nav*/
main{
  margin:0 auto;
  max-width:1000px;
  font-family:"brandon-grotesque",san-serif;
}
.secondarylogo{
  max-width:120px;
  padding:none;
}

nav{
  text-align:center;
  background-color:#E74f00;
  margin:auto;
  font-family:"brandon-grotesque",san-serif;
  text-transform: uppercase;
}
ul{
  list-style:none;
  display:flex;
  justify-content:center;
  padding:0;
}
nav a{
  color:white;
  text-decoration: none;
}
li{
  padding:2em 4em;
  color: white;
}
.intro{
  text-align:center;
  margin:20%;
}

h1{
  font-family:"brandon-grotesque", sans-serif;
  text-align:center;
  font-size:63px;
  margin-top: 3em auto;
  margin-bottom: 3em auto;
}

/*grid*/
.first-row{
  display:flex;
}
.second-row{
  display:flex;
}

.box{
  padding:4em;
  margin:2em;
}
.beer-title{
  font-weight:bold;
}
figcaption{
  max-width:300px;
}
fig{
  margin:1em;
}
@media screen and (min-width: 650px){
  .row{
  display:flex;
  }
}
