/*main and nav*/
body{
  font-family:"brandon-grotesque",san-serif;
}
main{
  margin:0 auto;
  max-width:1000px;
  font-family:"brandon-grotesque",san-serif;
}
.secondarylogo{
  max-width:120px;
  padding:none;
}

nav{
  text-align:center;
  background-color:#E74f00;
  margin:auto;
  font-family:"brandon-grotesque",san-serif;
  text-transform: uppercase;
}
nav ul{
  list-style:none;
  display:flex;
  justify-content:center;
  padding:0;
}
nav a{
  color:white;
  text-decoration: none;
}
nav ul li{
  padding:2em 4em;
  color: white;
  letterspacing:10px;
}
.intro{
  text-align:center;
  margin:20%;
}

h1{
  font-family:"brandon-grotesque", sans-serif;
  text-align:center;
  font-size:63px;
  margin-top:3em;
  margin-bottom:3em;
}

/*grid*/
.first-row{
  display:flex;
}
.second-row{
  display:flex;
}

.box{
  padding:4em;
  margin:2em;
}
.beer-title{
  font-weight:bold;
}
figcaption{
  max-width:300px;
}
fig{
  margin:1em;
}
@media screen and (min-width: 650px){
  .row{
  display:flex;
  }
}




/*footer*/
.FooterLogo{
  width:10%;
  float:left;
}
footer{
  background-color:#464646;
  margin-top:5px;
  padding:10px;
  display:flex
}

.footerBar li {
  list-style: none;
  color: white;
  padding-right:2.5em;
  font-size:14px;
  letter-spacing:1px;
}

.footerSM{
  width: 30px;
}

.footerIcons{
  margin-left: auto;
  border: none;
  position:absolute;
  align:right;
}
.footerBar{
  display:flex;
}
footer li a{
  color:white;
}
