/*main-and-nav*/
main{
  margin:0 auto;
  max-width:1000px;
  font-family:"brandon-grotesque",san-serif;
}
.secondarylogo{
  max-width:120px;
  padding:none;
}

nav{
  text-align:center;
  background-color:#E74f00;
  margin:auto;
  font-family:"brandon-grotesque",san-serif;
  text-transform: uppercase;
}
ul{
  list-style:none;
  display:flex;
  justify-content:center;
  padding:0;
}
nav a{
  color:white;
  text-decoration: none;
}
li{
  padding:2em 4em;
  color: white;
}
.intro{
  text-align:center;
  margin:20%;
}

h1{
  font-family:"brandon-grotesque", sans-serif;
  text-align:center;
  font-size:63px;
  margin-top: 3em auto;
  margin-bottom: 3em auto;
}



/*intros*/
.intro{
  text-align:center;
  margin:20%;
}

h1{
  font-family:"brandon-grotesque", sans-serif;
  text-align:center;
  font-size:63px;
  margin-top: 3em auto;
  margin-bottom: 3em auto;
}




/*grid*/
}
.first-row{
  display:flex;

}
.second-row{
  display:flex;
}

.box{
  padding:4em;
  margin:2em;
}


/*footer*/
footer
{
   background-color:#E74f00;

  display:flex;
  margin-top:5px;
}

.footerBar li {
  list-style: none;
}

.footerLogo {
  width: 100px;
}

.footerSM{
  width: 60px;
}

.footerIcons{
  margin-left: auto;
  border: none;
}



/*slideshow on beers page*/
body{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.css-slideshow{
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
